* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #161513;
  color: white;
  font-family: "Kanit", serif
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  font-size: 35px;
  font-weight: 600;
  color: white;
  margin-left: 12px;
}

.nav-menu {
  font-size: 20px;
}
  

.nav-item {
  list-style: none;
  display: inline-block;
}
.nav-item a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}


.nav-connect, .hero-connect, .hero-cv{
  padding: 10px 10px;
  margin-top: 8px;
  margin-right: 15px;
  border-radius: 50px;
  background: linear-gradient(267deg, #F8A4D8 0.36%, #6c63FF 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover,.hero-connect:hover, .hero-cv:hover {
  transform: scale(1.05);
}

.main-heading {
  font-size: 100px;
  text-align: center;
  font-family: "Kanit", serif;
  font-weight: 600;
  font-style: normal;
  background: linear-gradient(270deg,#F8A4D8 10%, #6c63FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  margin-bottom: 5px;
  margin-top: 80px;
}

.hero-action{
  display: flex;
  justify-content: center;
  gap: 24px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;

}

.id {
  /* width: 50%; */
  text-align: center;
  color: white;
  margin-bottom: 55px;
  font-family: "Kanit", serif;
  font-size: 24px;
  line-height: 40px;
}

img {
  border-radius: 60%;
  margin-left: 15px;
}

.hero-intro{
  text-align: center;
  width: 40%;
  font-size: 40px;
  font-weight: 500;
}
.hero-name{
  /* text-align: center; */
  /* width: 20%; */
  font-size: 25px;
  font-weight: 500;
}
.wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
 .one, .two{
  border-radius: 10px;
  border: 2px solid white;
  padding:60px;
  transition: 0.4s;
  cursor:pointer;
}

.one:hover, .two:hover {
  border:2px solid #F8A4D8;
  background: linear-gradient(45deg,#D17EB9 10%, #5449CC);
  transform: scale(1.05);
  transition: 0.4s;
}

.expertise-sub{
  background: linear-gradient(270deg,#F8A4D8 10%, #6c63FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.about-one{
margin-right: 25px;
}

.about-two{
margin-left: 25px;
display: flex;
flex-direction: column;
}

.about-paragraph{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 17px;
  font-weight: 350;
}

.about-skills{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.skill{
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}

.skill p{
  min-width: 150px;
  font-size:24px;
  font-weight: 500;
}

.skill hr{
  outline: none;
  border: none;
  width:50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(264deg,#F8A4D8 -5.09%,#6c63FF 106.28% );
}

.skill:hover{
  transform: scale(1.05);
  transition: 0.3s;
}

.one .two {
  border: #131a24;
}
.expertise-heading,  .mywork-title, .contact-heading{
  text-align: center;
  font-family: "Kanit", serif;
  font-size: 80px;
  font-weight: 600;
  color: white;
  padding: 0px 30px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.work-container, .contact-container{
  display: flex;
  justify-content: center;
  gap: 65px;
}

.work-img{
  margin-top: 35px;
  align-items: center;
  justify-content: center;
}

.work{
  border-radius: 10px;
  border: 2px solid white;
  padding:60px;
  transition: 0.4s;
  cursor:pointer;
}

.work:hover{
  border:2px solid #F8A4D8;
  background: linear-gradient(45deg,#D17EB9 10%, #5449CC);
  transform: scale(1.05);
  transition: 0.4s;
}

.tool-item{
  list-style: none;
}

.icon{
  display: block;
  width: 65px;
  color:red;
}

.contact-container{
  margin: 25px;
  margin-bottom: 30px;
}

.contact-link{
  border-radius: 10px;
  border: 2px solid white;
  padding: 50px;
  transition: 0.4s;
  cursor:pointer;
  justify-content: space-evenly;
  align-items: center;
}

